.adw-button {
  font: inherit;
  border: none;
  outline: none;

  color: var(--adw-foreground);
  font-weight: 700;
  padding: 10px 20px;
  border-radius: $button-radius;
  transition: 200ms $ease-out-quad;

  background: var(--adw-bg-el);

  &:hover {
    background: var(--adw-bg-el-hover);
  }

  &:active {
    background: var(--adw-bg-el-active);
  }
}

.adw-button-primary {
  background: $blue4;
  color: white;

  &:hover {
    background: $blue3;
  }

  &:active {
    background: $blue5;
  }
}

.adw-button-danger {
  background: $red4;
  color: white;

  &:hover {
    background: $red3;
  }

  &:active {
    background: $red5;
  }
}

.adw-button-circular {
  width: 32px;
  height: 32px;

  padding: 0;
  border-radius: 100%;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.adw-button-pill {
  padding: 12px 24px;
  border-radius: 100px;
}

.adw-button-flat {
  color: var(--adw-foreground);

  background: transparent;
}
