@import "_palette.scss";

$button-radius: 6px;
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

:root {
  font-family: "Cantarell", sans-serif;
  font-size: 16px;

  // Variables for light theme
  --adw-foreground: white;
}

// Variables for dark theme
:root.adw-dark {
}
